*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    
    

}
.nav-bar{
    height: 10vh;
    text-align: center;
    
    height: auto;   
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    

}
form{
    font-size: 1.2rem;
    /* display: block; */
    height: 90vh;
    max-width: 500px;
    padding: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    background-color: #F9F9FB; 
    height: auto;   
    margin-left: auto;
    margin-right: auto;
    border: solid 0.5px #282828;
    
}

.botao3{
    border-radius: 15px;   
    background-color:#F73759;
    height: 6vh;
   
    max-width: 120px;
    text-align: center;
    
}
.botao3 h2{
    color: white;
    font-size: 1rem;

}
.botao3:hover{ 
    background-color: #B63C49;
    
}
#label{
    border-radius: 5px;
    height: 50px;
    max-width: 460px;
   
    width: 100%;
    box-shadow: 0 0 0 0;
    border-top: solid 0.25px #282828;
    outline: 0;

}
.content{
    display: flex;
    flex-direction: column;
    
}


.flex{
    
   width: 100%;
    height: 50px;
   
}

#checkbox {
    
    width: 15px;
    height: 15px;
    margin-right: 5px;
    vertical-align: middle;
    position: relative;
    float: left;
    
   
}
#p{
    color: #282828;
    font-size: 0.8rem;
}


.content div{
    padding-top: 10px;
    font-size: 0.9rem;
    
}

.content div p a{
    color: #282828;
    font-size: 0.9rem;
}



